{% extends "base.html" %}

{% block body %}
    <h1 class="title">
        Flask Login Example
    </h1>
    <h2 class="subtitle">
        Easy authentication and authorization in Flask.
        <div class="box">
            <form method="POST" action="/" enctype=multipart/form-data>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Default file input example</label>
                    <input class="form-control is-block is-info is-large is-fullwidth" name="file" type="file"
                           id="formFile" accept=".xlsx">
                    <button class="btn">Загрузить</button>
                </div>
            </form>
        </div>
    </h2>
{% endblock %}